<h1><%= @tool.name %></h1>

<p>Price: $<%= @tool.price %></p>
<p>Quantity: <%= @tool.quantity %></p>

<%= link_to "Edit Tool", edit_user_tool_path(@user.id, @tool.id) %>
<%= link_to "Delete Tool", user_tool_path(user_id: @user.id, id: @tool.id), method: :delete %>
